#fill-in-form
  = bootstrap_form_for(user) do |f|
    = f.email_field :email, readonly: user.new_record? ? false : true
    = f.password_field :password
    = f.text_field :name
    = f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones
    - unless user.new_record?
      = f.file_field :avatar
      = image_tag user.avatar.url(:medium, timestamp:false)
      %br
    %br
    = f.submit user.new_record? ? 'Sign Up' : 'Update'
