%h2.title
  Todos due
  %span.date Today
#todo_items_wrapper
  - @todos.each do |todo|
    .row
      - if todo.completed?
        .icon_left
          %i.glyphicon.glyphicon-check{:style => 'opacity: 0.6;'}
        .todo_title
          %p{:style => 'opacity: 0.6;'}
            %strike= todo.title
        .icon_right
          %i.glyphicon.glyphicon-trash{:style => 'opacity: 0.6;'}
      - else
        .icon_left
          = link_to todo_path(todo, 'completed'), method: :patch do
            %i.glyphicon.glyphicon-unchecked
        .todo_title
          %p= todo.title
        .icon_right
          = link_to todo, method: :delete do
            %i.glyphicon.glyphicon-trash
  #form
    = form_for(@new_todo) do |f|
      = f.text_field :title, placeholder: 'New Todo'
      = f.submit 'Add'
  .links
    = link_to 'Show History', history_path
