%html(lang="en-US")
  %head
    %title DueToday
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = favicon_link_tag 'favicon.ico'
  %body
    %header
      = render 'shared/header'
    .container
      = render 'shared/messages'
      = yield
